---
title: Hitide.me ~ Fun Tidal Forecasts For Australia
---

    <div class="header">
      <h1>Hitide<sup>AU</sup></h1>
      <a href="javascript:;" class="menu"></a>
    </div>

    <div class="tide-page">
      <h1></h1>
      <div class="menu"></div>
      <h2></h2>
      <div class="tide-card">
        <div class="tide">
          <h3><strong></strong><br><em></em><span></span></h3>
          <div class="fill">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1000px" height="1000px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
              <path class="waveShape" d="M300,300V2.5c0,0-0.6-0.1-1.1-0.1c0,0-25.5-2.3-40.5-2.4c-15,0-40.6,2.4-40.6,2.4
                                         c-12.3,1.1-30.3,1.8-31.9,1.9c-2-0.1-19.7-0.8-32-1.9c0,0-25.8-2.3-40.8-2.4c-15,0-40.8,2.4-40.8,2.4c-12.3,1.1-30.4,1.8-32,1.9
                                         c-2-0.1-20-0.8-32.2-1.9c0,0-3.1-0.3-8.1-0.7V300H300z" />
            </svg>
          </div>
          <div class="arrow"><span class="next-tide"></span>&nbsp;<span class="next-tide-time"></span></div>
        </div>
      </div>
      <p class="footer">Created by <a href="http://www.zakrowling.com" target="_blank">Zak Rowling</a>. Thanks to <a href="http://www.tidespy.com" target="_blank">Tidespy</a> and <a href="http://www.flaticon.com" target="_blank">Flaticon</a>.</p>
    </div>

    <div class="tide-menu">
      <ul>
        <li class="cairns" data-location="3391">Cairns</li>
        <li class="brisbane" data-location="3367">Brisbane</li>
        <li class="goldcoast" data-location="3552">Gold Coast</li>
        <li class="sydney" data-location="3374">Sydney</li>
        <li class="melbourne" data-location="3396">Melbourne</li>
        <li class="adelaide" data-location="3452">Adelaide</li>
        <li class="perth" data-location="3407">Perth</li>
        <li class="darwin" data-location="3439">Darwin</li>
        <li class="hobart" data-location="3585">Hobart</li>
      </ul>
    </div>