---
title: Hitide.me
---

<body onload="requestTideData(3391);">
  <select>
    <option value="3391">Cairns</option>
    <option value="3479">Mooloolaba</option>
    <option value="3552">Gold Coast</option>
    <option value="3372">Newcastle</option>
    <option value="3374">Sydney</option>
    <option value="3396">Melbourne</option>
    <option value="3452">Adelaide</option>
    <option value="3407">Perth</option>
    <option value="3439">Darwin</option>
    <option value="3585">Hobart</option>
  </select>

<div class="header">
  <h1>Hitide<sup>AU</sup></h1>
  <a href="javascript:;" class="menu"></a>
</div>

<div class="tide-page">
  <h1></h1>
  <div class="menu"></div>
  <h2></h2>
  <div class="tide-card">
    <div class="tide">
      <h3><strong></strong><br><em></em><span></span></h3>
      <div class="fill">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1000px" height="1000px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
          <path class="waveShape" d="M300,300V2.5c0,0-0.6-0.1-1.1-0.1c0,0-25.5-2.3-40.5-2.4c-15,0-40.6,2.4-40.6,2.4
                                     c-12.3,1.1-30.3,1.8-31.9,1.9c-2-0.1-19.7-0.8-32-1.9c0,0-25.8-2.3-40.8-2.4c-15,0-40.8,2.4-40.8,2.4c-12.3,1.1-30.4,1.8-32,1.9
                                     c-2-0.1-20-0.8-32.2-1.9c0,0-3.1-0.3-8.1-0.7V300H300z" />
        </svg>
      </div>
      <div class="arrow up"></div>
    </div>
  </div>
  <p class="footer"><a href="#" class="footer">Credits</a></p>
</div>

<div class="tide-menu">
  <ul>
    <li class="cairns" data-location="3391">Cairns</li>
    <li class="brisbane" data-location="3391">Brisbane</li>
    <li class="goldcoast">Gold Coast</li>
    <li class="sydney">Sydney</li>
    <li class="melbourne">Melbourne</li>
    <li class="adelaide">Adelaide</li>
    <li class="perth">Perth</li>
    <li class="darwin">Darwin</li>
    <li class="hobart">Hobart</li>
  </ul>
</div>